.home-panel {
    vertical-align: top;
    font-size: 20;
    font-family: "Roboto", "Roboto-Light";
}

.margins {
    margin: 30px;
    padding: 30px;
}

.info-margins {
    margin: 10px;
}

.full {
    height: 100%;
    width: 100%;
}

.home-image {
    width: 90%;
}

.title {
    text-align: center;
    font-size: 30px;
    margin-top: 50px;
    font-family: "Rock Salt", "cursive";
}