<ActionBar class="action-bar">
    <Label class="action-bar-title" text="Matchup"></Label>
</ActionBar>

<GridLayout *ngIf="isVisible" class="page page-content">
    <StackLayout class="content">
        <CardView class="cardStyle-top" margin="10" radius="10" shadowOffsetHeight="6" shadowRadius="6">
            <DockLayout class="full-width" stretchLastChild="false">
                <Image style="width: 50%;" [src]="homeSrc" dock="left" class="card-img"></Image>
                <Label style="width: 50%;" class="score text-center" dock="right" [text]="homeScore"></Label>
            </DockLayout>
        </CardView>
        <CardView class="cardStyle-middle" margin="10" radius="10" shadowOffsetHeight="6" shadowRadius="6">
            <StackLayout class="full-width card-info" orientation="horizontal">
                <DockLayout class="third">
                    <Label dock="top" text="Spread"></Label>
                    <Label dock="bottom" [text]="spread"></Label>
                </DockLayout>
                <DockLayout class="third">
                    <Label dock="top" text="Confidence"></Label>
                    <Label dock="bottom" [text]="confidenceScore + '%'"></Label>
                </DockLayout>
                <DockLayout class="third">
                    <Label dock="top" text="Over/Under"></Label>
                    <Label [text]="overUnder"></Label>
                </DockLayout>
            </StackLayout>
        </CardView>
        <CardView class="cardStyle-bottom" margin="10" radius="10" shadowOffsetHeight="6" shadowRadius="6">
            <DockLayout class="full-width" stretchLastChild="false">
                <Label style="width: 50%;" class="score text-center" dock="left" [text]="awayScore"></Label>
                <Image style="width: 50%;" [src]="awaySrc" dock="right" class="card-img"></Image>
            </DockLayout>
        </CardView>
    </StackLayout>
</GridLayout>