.cardStyle-top {
    background-color: rgb(255, 255, 255);
    height: 35%;
}

.cardStyle-bottom {
    background-color: rgb(255, 255, 255);
    height: 35%;
}

.cardStyle-middle {
    background-color: rgb(255, 255, 255);
    height: 15%;
}

.card-img {
    height: 100%;
    width: 100%;
}

.card-info {
    padding-top: 20px;
}

.third {
    width: 33%;
    text-align: center;
}

.text-center {
    text-align: center;
}

.score {
    font-size: 50px;
}

.full-width {
    width: 100%;
}